<div class="page_footer" id="pageFooter" draggable="false">
  <div class="footer_placeholder"><img
      src="../img/footer.jpg"
      alt="footer"
      class="footerIMG"
      draggable="false"
    /></div>
</div>