<nav>
  <div class="navbar">
    <div class="brand-logo" draggable="false"><a
        href="/"
        class="brand-logo"
        draggable="false"
      ><img
          src="../img/Lear_Corporation_logo.svg2_compressed.png"
          draggable="false"
          alt="logo"
        /></a></div>
    {{!-- <ul id="nav-mobile" class="nav-mobile">
      {{#if isIndex}}
        <li class="activenav"><a href="/">Option1</a></li>
      {{else}}
        <li class="inactivenav"><a href="/">Option1</a></li>
      {{/if}}
      {{#if isCreate}}
        <li class="activenav"><a href="/option2">Option2</a></li>
      {{else}}
        <li class="inactivenav"><a href="/option2">Option2</a></li>
      {{/if}}
    </ul> --}}
  </div>
</nav>